@import './cmps/modal.css';

.app-container[app="Main Container"] {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 80px 2.1fr 25%;
  grid-template-rows: 80px 1.8fr;
  gap: 0px 0px;
  grid-template-areas:
    "nav header aside"
    "nav feed aside";
}

.feed {
  grid-area: feed;
   box-shadow: inset 0px -1px 0px lightgray;
}
.header {
  grid-area: header;
  box-shadow: inset -1px 0px 2px lightgray;
}
.nav {
  grid-area: nav;
 
  box-shadow: inset -1px 0px 2px lightgray;
}

.aside {
  grid-area: aside;
 
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}
