.add-post-dialog {
  border: none;
  border-radius: 8px;
}

.add-post-form {
  gap: 0.5rem;
  padding: 1rem;
  width: 50vw;
  max-width: 400px;
}

.add-post-form button {
  /* max-width: 50%; */
}

.add-post-form .actions-container {
  justify-content: space-between;
  width: 100%;
}

.add-post-dialog .user-preview {
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem;
}

.modal-user-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}
